@import "src/assets/styles/mixins";

.wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  background: #140F2E;

  @include respond-to(l) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.imageMobile {
  display: block;
  width: 100%;
  height: 100%;

  @include hideOnDesktop();
}

.imageDesktop {
  @include hideOnMobile();

  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 587px;
}

.background {
  display: block;
  width: 100%;
  height: 100%;
}
