@import "src/assets/styles/mixins";

.select {
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  height: 48px;
  border: 1px solid #BDBDBD;
  border-radius: 8px;
  padding: 0 16px;
  transition: all 0.2s ease
}

