@import "src/assets/styles/mixins";

.wrapper {
  background: #140F2E;
  padding: 40px 38px 50px;

  @include respond-to(l) {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
  }
}

.title {
  font-size: 27px;
  margin-bottom: 17px;
  color: #FFF;

  @include respond-to(l) {
    font-size: 80px;
    margin-bottom: 50px;
  }
}

.date {
  color: #898796;
  font-weight: 500;
  font-size: 17px;

  @include respond-to(l) {
    font-size: 28px;
  }
}
