@import "src/assets/styles/mixins";

.wrapper {
  background: white;
  width: 100%;
  box-shadow: 11px 11px 5.3px 0px rgba(0, 0, 0, 0.13);
  padding: 16px 25px 32px 32px;

  @include respond-to(l) {
    padding: 70px 120px;
  }
}

.title {
  margin-bottom: 18px;
  font-size: 27px;

  @include respond-to(l) {
    font-size: 80px;
    margin-bottom: 70px;
  }
}

.highlight {
  color: #1F58B3;
}

.content {
  display: flex;
  flex-direction: column;

  @include respond-to(l) {
    flex-direction: row;
  }
}

.button {
  flex-shrink: 0;
  padding: 14px 20px;
  width: fit-content;
  border: 1px solid #1F58B3;
  background: #DCE9FF;
  color: #1F58B3;

  &:hover {
    background: white;
  }

  &:active {
    background: #1F58B3;
    color: white;
  }

  @include respond-to(l) {
    margin-right: 200px;
    padding: 22px 33px;
    font-size: 20px;
    order: -1;
    height: fit-content;
  }
}

.description {
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 24px;

  @include respond-to(l) {
    font-size: 28px;
    margin-bottom: 0;
  }
}
