@import "src/assets/styles/mixins";

.list {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #1F58B3;
  padding: 16px 11px;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  @include respond-to(l) {
    display: none;
  }
}

.listItem {
  flex-shrink: 0;
  flex-grow: 1;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.button {
  font-size: 14px;
  height: 40px;
  padding: 0;
  width: 100%;
}

.secondary {
  &:active {
    background: rgba(255, 255, 255, 0.20);
  }
}
