// breakpoints
$maximalMobileXsWidth: 600px;
$maximalMobileWidth: 991px;
$maximalTabletWidth: 1199px;
$minimalDesktopWidth: 1200px;
$maximalContainerWidth: 1200px;
$maximalContentWidth: 1120px;

// colors
$primary: #1B1919;
$secondary: #FFBC0F;
$light: #F5F5F7;
$lightSecondary: #BBBBC9;
$lightSuccess: #82829B;
$error: #FB5555;

// backgrounds
$primary_background: linear-gradient(180deg, #F5F5F7 0%, #FFFFFF 100%);
$modal_background: #24242d99;

// Gathering
// colors
$gatheringSecondary: #6D7355;
$gatheringSecondaryDarkBlue: #081636;
$honeycombsColor: #FFB300;
$textGrey: #7E7E7F
